@media (min-width:1400px) {
   
}
@media (min-width:1200px) and (max-width:1399.99px) {
    
}
@media (min-width:992px) and (max-width:1199.99px) {
    
}
@media (min-width:768px) and (max-width:991.99px) {
    .common-heading h2 {
        font-size: 30px;
    }
    .banner-text h1 {
        font-size: 45px;
    }
    .hero-part::before {
        width: 50px;
        height: 50px;
        left: 18%;
        top: 36%;
        transform: translate(-18%, -36%);
    }
    /* cycle part start */
  
    /* cycle part End */
  
}
@media (min-width:576px) and (max-width:767.99px) {
    /* hero part start */
    .hero-part {
        background: #274d5a ;
        position: relative;
        z-index: 1;
    }
    .hero-part::after {
       display: none;
    }
    .banner-text h1 {
        font-size: 45px;
    }
    /* hero part End */
}
@media (max-width:575px) {
    .common-heading h2 {
        font-size: 30px;
    }
    .hero-part {
        background: #274d5a ;
        position: relative;
        z-index: 1;
    }
    .hero-part::after {
        display: none;
     }

     .banner-text h1 {
        font-size: 45px;
    }
    .banner-text p {
        width: 100%;
    }
    .banner-image::before {
       display: none;
    }
    
}